
<br>
<ul class="masonry">
    <li ><div><img src="{{ site.base_path }}/assets/images/travel/1.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/2.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/3.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/4.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/5.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/6.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/7.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/28.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/32.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/33.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/34.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/35.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/36.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/37.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/38.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/39.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/40.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/41.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/42.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/43.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/44.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/50.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/51.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/8.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/9.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/10.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/11.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/12.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/13.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/14.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/15.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/16.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/17.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/45.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/47.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/48.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/20.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/21.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/22.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/23.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/24.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/25.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/26.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/27.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/28.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/52.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/53.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/54.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/56.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/57.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/58.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/59.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/60.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/61.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/62.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/63.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/64.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/65.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/66.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/67.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/68.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/69.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/71.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/72.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/73.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/74.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/75.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/76.jpg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/77.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/78.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/79.jpeg" alt=""></div></li>
    <li><div><img src="{{ site.base_path }}/assets/images/travel/80.jpeg" alt=""></div></li>
</ul>
<style>
.masonry {
    list-style: none;
    -moz-column-count: 3; /*change this to change the grid column count*/
    -webkit-column-count: 3; /*change this to change the grid column count*/
    column-count: 3; /*change this to change the grid column count*/
    -moz-column-gap: 0em;
    -webkit-column-gap: 0em;
    column-gap: 0em;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    overflow:visible;
    
}

.masonry-li {
    width: 100%;
    display: inline-block;
    float:left;
    background: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0%;
}

li div {
    border-radius: 0px;
    background-color: #f4faff;
    margin-top: 0em;
    cursor: pointer;
}

li div img{
    height: auto;
    width: 100%;
    vertical-align: middle;
    border: 0px solid #ddd;
}
  </style>


<!-- <style>
    .masonry {
        list-style: none;
        -moz-column-count: 3; /*change this to change the grid column count*/
        -webkit-column-count: 3; /*change this to change the grid column count*/
        column-count: 3; /*change this to change the grid column count*/
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
        column-gap: 1em;
        padding: 0px 4px 4px 4px;
        margin-top: -10px;
        display: inline-block;
        width: 100%;
        overflow:visible;
        
    }
    
    .masonry-li {
        width: 100%;
        display: inline-block;
        float:left;
        background: transparent;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: 1%;
    }
    
    li div {
        border-radius: 3px;
        background-color: #f4faff;
        margin-top: 1em;
        cursor: pointer;
    }
    
    li div img{
        height: auto;
        width: 100%;
        vertical-align: middle;
        border: 1px solid #ddd;
    }
      </style> -->