---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- include disqus_comments.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
  $('.test-popup-link').magnificPopup({
type: 'image',
mainClass: 'mfp-with-zoom', // this class is for CSS animation below

zoom: {
  enabled: true, // By default it's false, so don't forget to enable it

  duration: 300, // duration of the effect, in milliseconds
  easing: 'ease-in-out', // CSS transition easing function

  // The "opener" function should return the element from which popup will be zoomed in
  // and to which popup will be scaled down
  // By defailt it looks for an image tag:
  opener: function(openerElement) {
    // openerElement is the element on which popup was initialized, in this case its <a> tag
    // you don't need to add "opener" option if this code matches your needs, it's defailt one.
    return openerElement.is('img') ? openerElement : openerElement.find('img');
  }
}

});
</script>